Flask
gunicorn
pymongo
dnspython
Flask-Bcrypt
Flask-Bootstrap
Flask-Cors
Flask-Login
Flask-Mail
Flask-RESTful
Flask-Script
Flask-WTF
jinja2
WTForms
Werkzeug
numpy
pandas
jwt
email_validator
pandas.util